body {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 auto; */
    margin: 0;
    font-family: 'roboto', sans-serif;
    flex-basis: 100%;
    
}

.header{
    background-color: #1F2937;
    /* padding: 0; */
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    
}



.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

/* .header-links{
    font-size: 18px;
    color: #E5E7EB;
} */

.intro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    flex-wrap: wrap;
    background-color: #1F2937;
    flex-shrink: 1;

}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 0;
    margin-right: 30px;
    width: 50%;
    
    /* flex-shrink: 0; */
}

.intro-text.button{
    display: flex;
    flex: 0 0 0;
    
}

.hero-title-text{
    font-size: 48px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    /* color: #F9FAF8; */
}

.hero-main-text{
    font-size: 18px;
    margin: 0;
}

/* img { */
    /* display: flex; */
    /* flex-shrink: 0; */
/* } */

button {
    display: flex;
    justify-content: center;
    flex: 0;
    background-color: #3882f6;
    border-radius: 7px;
    border: 0;
    width: 100px;
    padding: 5px;
}

.button.button-border{
    border: solid 1px;
    border-color: #F9FAF8;
    min-width: 100px;
}

.intro-img{
    min-width: 40%;
    height: 400px;
    background-color: #E5E7EB;
}

.random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
    margin-bottom: 50px;
}

.img-list{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.random-info-images-text{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
    width: 100px;
    gap: 5px;
    text-align: center;
}

.random-info-img{
    width: 100px;
    height: 100px;
    border: solid 2px;
    border-color: #3882f6;
    border-radius: 7px;
    display: flex;
}

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    /* justify-content: center;
    align-items: center; */
    font-style: italic;
    padding: 50px 250px;
    flex: 1 1 auto;
    
}

.quote-container .quote-origin{
    font-size: 18px;
    color: black;
    font-weight: bold;
    font-style: normal;
    
}

.quote-origin {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    text-align: right;
    flex-grow: 1 1 auto;
}

.sign-up-container{
    padding: 75px 150px;
}

.sign-up{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 85px;
    border-radius: 7px;
}

.sign-up-text{
    display: flex;
    flex-direction: column;
}

.sign-up-title, .sign-up-title-text{
    margin: 0;
}

.sign-up-title{
    font-size: 20px;
    font-weight: bold;
}

.sign-up-title-text{
    font-size: 15px;
    color: #E5E7EB;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    padding: 20px 0px;
    color: lightgray;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
    /* justify-content: center; */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 16px;
    /* color: #E5E7EB; */
}

a, .hero-main-text, .random-info-images-text, .quote-container{
    color: rgb(149, 147, 147);
}

.header-logo, .hero-title-text, button, .intro-img, .sign-up-title{
    color: #F9FAF8;
}